@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;500;600;800&family=Poppins:wght@200;400;500;600;700&display=swap');

$header-font:'Fira Sans', sans-serif;
$subheading-font: 'Lusitana', serif;
$body-font:  'Alegreya Sans', sans-serif;
