@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;500;600;800&family=Poppins:wght@200;400;500;600;700&display=swap');
:root {
  --header-font: 'Fira Sans' sans-serif;
  --subheading-font: 'Lusitana', serif;
  --body-font:  'Alegreya Sans', sans-serif;
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --purple: #a82dd1;
  --yellow: #fff565;
  --box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);

}
.light {
  --bg: var(--gray0);
  --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
  --bg-dropdown: var(--gray0);
  --text: var(--gray6);
  --border-color: var(--blue);
  --bg-solar: var(--yellow);
}
.dark {
  --bg: var(--gray5);
  --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
  --bg-dropdown: var(--gray6);
  --text: var(--gray0);
  --border-color: var(--purple);
  --bg-solar: var(--blue);
}
.solar {
  --gray0: #fbffd4;
  --gray1: #f7f8d0;
  --gray2: #b6f880;
  --gray3: #5ec72d;
  --gray4: #3ea565;
  --gray5: #005368;
  --gray6: #003d4c;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  color: var(--text);
  background: var(--bg-nav);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "nav" "main" "footer";
}
h2{
  text-align: center;
}
nav {
  grid-area: nav;
  height: 70px;
  width: 100%;
  color: var(--text);
  background: var(--bg-nav);
  position: fixed;
  z-index: 1;
}
main {
  grid-area: main;
  margin-top: calc(70px);
  background: var(--bg);
  padding-bottom: 1rem;
}
footer {
  grid-area: footer;
  height: 70px;
  width: 100%;
  color: var(--text);
  background: var(--bg-nav);
  display: flex;
  justify-content: space-around;
}
h1 {
  font-family: var(--header-font);
}
h2 {
  font-family: var(--subheading-font);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
header {
  padding: 1rem;
  background: var(--bg-nav);
  margin-bottom: 1em;
  padding-bottom: 2em;
  text-align: center;
  clip-path: polygon(100% 0%, 100% 60%, 50% 100%, 0% 60%, 0% 0%);
  .link-icon {
    padding-bottom: 1em;
    font-size: larger;
  }
}
.btn-flat {
  color: var(--border-color);
  border: solid var(--border-color) 1px;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  box-shadow: var(--box-shadow);
}
.btn-flat:hover {
  background: var(--border-color);
  color: var(--body-font);
}
.card {
  display: flex;
  flex-direction: column;
  color: var(--body-font);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 20px;
  box-shadow:var(--box-shadow);
  min-width: 291px;
  max-width: 350px;
  padding: 1rem;
  border: solid 1px var(--border-color);
  text-align: center;
  .btn-flat {
    border: none;
    box-shadow: none;
  }
  h4{
    opacity: .5;
    white-space: nowrap;
    font-size: 1.1rem;
  }
  .card-links {
    display: flex;
    justify-content: center;
  }

}
.card-body{
  padding: 1rem 0px !important;
  margin: 0px;
  text-align: justify;
}
.card:hover {
  h3{
  letter-spacing: 5px;
  font-weight: bold;
  }
  h4{
    opacity: .7;
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 2rem;
  margin: 2rem;
}
section {
  min-height: fit-content;
  align-self: center;
  margin-right: calc((100%/4)*.5) ;
  margin-left: calc((100%/4)*.5) ;
}
.navbar-nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.footer-nav {
  @extend .navbar-nav;
  gap: 2em;
}
.avatar {
  margin: 2em 0 0;
  width: 240px;
  border-radius: 50%;
}
.avatar-bordered {
  @extend .avatar;
  border: solid 3px var(--border-color);
}
.dropdown {
  position: absolute;
  width: 500px;
  opacity: 0;
  z-index: 2;
  background: var(--bg-dropdown);
  border-top: solid 2px var(--border-color);

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3em;
  margin-top: 1.5em;

  box-shadow: var(--box-shadow);
  transform: translateX(-80%);

  transition: opacity .15s ease-out;
}
.has-dropdown:focus-within .dropdown {
  opacity: 1;
  pointer-events: auto;
}
.dropdown-item {
  a {
    width: 100%;
    height: 100%;
    size: 1em;
    padding-left: 10px;
    font-weight: bold;
  }
  a::before {
    content: ' ';
    border: 2px solid var(--border-color);
    background-color: var(--bg);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
}



#dark::before {
  background: #2a2e35;
}
#light::before {
  background: #ffffff;
}
#solar::before {
  background: var(--bg-solar);
}




@media (max-width: 529px) {
  .dropdown {
    width: max-content;
    padding: 0 1em;
    transform: translateX(-50%);
    font-size: smaller;
  }
  .dropdown-item a::before {
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
  }
}
