@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;500;600;800&family=Poppins:wght@200;400;500;600;700&display=swap");
:root {
  --header-font: "Fira Sans" sans-serif;
  --subheading-font: "Lusitana", serif;
  --body-font: "Alegreya Sans", sans-serif;
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --purple: #a82dd1;
  --yellow: #fff565;
  --light-green: #00b2a9;
  --dark-green: #16625D;
  --box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.light {
  --bg: var(--gray0);
  --bg-nav: linear-gradient(to right, var(--light-green), var(--dark-green));
  --bg-dropdown: var(--gray0);
  --text: var(--gray6);
  --border-color: var(--dark-green);
  --bg-solar: var(--yellow);
  --btn: var(--dark-green);
  --btn-header: var(--bg);
}
.light header {
  --border-color: var(--bg);
}
.light .card-links {
  --text: white;
}

.dark {
  --bg: var(--gray5);
  --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
  --bg-dropdown: var(--gray6);
  --text: var(--gray0);
  --border-color: var(--purple);
  --bg-solar: var(--blue);
  --btn: var(--purple);
  --btn-header: var(--purple);
}

.solar {
  --gray0: #fbffd4;
  --gray1: #f7f8d0;
  --gray2: #b6f880;
  --gray3: #5ec72d;
  --gray4: #3ea565;
  --gray5: #005368;
  --gray6: #003d4c;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  color: var(--text);
  background: var(--bg-nav);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "nav" "main" "footer";
}

h2 {
  text-align: center;
}

nav {
  grid-area: nav;
  height: 70px;
  width: 100%;
  color: var(--text);
  background: var(--bg-nav);
  position: fixed;
  z-index: 1;
}

main {
  grid-area: main;
  margin-top: 70px;
  background: var(--bg);
  padding-bottom: 1rem;
}

footer {
  grid-area: footer;
  height: 70px;
  color: var(--text);
  background: var(--bg-nav);
  display: flex;
  justify-content: space-between;
  margin: 0 2em;
  gap: 1em;
}
footer .footer-copyright {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-family: var(--header-font);
}

h2 {
  font-family: var(--subheading-font);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: var(--bg-nav);
  color: white;
  margin-bottom: 1em;
  padding-bottom: 2em;
  text-align: center;
  clip-path: polygon(100% 0%, 100% 60%, 50% 100%, 0% 60%, 0% 0%);
}
header .btn-flat {
  color: var(--btn-header);
  border: solid var(--btn-header) 1px;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  box-shadow: var(--box-shadow);
}
header .btn-flat:hover {
  background: var(--btn-header);
  color: var(--text);
}
header .links {
  min-height: max-content;
  padding: 1em;
}
header .cv {
  min-height: max-content;
  padding: 1em;
  margin: 1em;
}

.links a {
  color: var(--btn-header);
  margin: 1em;
  padding: 1em;
  border-radius: 50%;
  border: var(--border-color) solid 1px;
  box-shadow: var(--box-shadow);
}

.links a:hover {
  text-decoration: none;
  color: var(--text);
  background-color: var(--btn-header);
  border-radius: 50%;
}

.btn-flat {
  color: var(--btn);
  border: solid var(--btn) 1px;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  box-shadow: var(--box-shadow);
  margin-top: 0.5rem;
}

.btn-flat:hover {
  background: var(--btn);
  color: var(--text);
}

.card {
  display: flex;
  flex-direction: column;
  color: var(--body-font);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  min-width: min-content;
  max-width: 350px;
  padding: 1rem;
  border: solid 1px var(--border-color);
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.card .btn-flat {
  border: none;
  box-shadow: none;
}
.card h4 {
  opacity: 0.5;
  white-space: nowrap;
  font-size: 1.1rem;
  margin-bottom: 1em;
}
.card .card-links {
  display: flex;
  justify-content: space-evenly;
}

.card-body {
  padding: 0 1em;
  margin: 0px;
  text-align: justify;
}

.card:hover h3 {
  letter-spacing: 5px;
  font-weight: bold;
}
.card:hover h4 {
  opacity: 0.7;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-gap: 2rem;
  margin: 2rem;
}

#projects {
  padding-top: 2rem;
}

.aboutme {
  min-height: fit-content;
  align-self: center;
  margin-right: 18.75%;
  margin-left: 18.75%;
  text-align: justify;
  padding-top: 2rem;
}

.navbar-nav, .footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.footer-nav {
  gap: 2em;
}

.avatar, .avatar-bordered {
  margin: 2em 0 0;
  width: 160px;
  border-radius: 50%;
}

.avatar-bordered {
  border: solid 3px var(--border-color);
}

.dropdown {
  position: absolute;
  width: 500px;
  opacity: 0;
  z-index: 2;
  background: var(--bg-dropdown);
  border-top: solid 2px var(--border-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3em;
  margin-top: 1.5em;
  box-shadow: var(--box-shadow);
  transform: translateX(-80%);
  transition: opacity 0.15s ease-out;
}

.has-dropdown:focus-within .dropdown {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-item a {
  width: 100%;
  height: 100%;
  size: 1em;
  padding-left: 10px;
  font-weight: bold;
}
.dropdown-item a::before {
  content: " ";
  border: 2px solid var(--border-color);
  background-color: var(--bg);
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

#unit-converter-card .card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#dark::before {
  background: #2a2e35;
}

#light::before {
  background: #ffffff;
}

#solar::before {
  background: var(--bg-solar);
}

.card-body .converter {
  display: flex;
  text-align: center;
}
.card-body .converter input {
  width: 80%;
}
.card-body .converter .converter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}

#converter-formula {
  font-size: smaller;
  padding: 0 2em;
  text-align: center;
}

@media (max-width: 529px) {
  .dropdown {
    width: max-content;
    padding: 0 1em;
    transform: translateX(-70%);
    font-size: smaller;
  }
  .dropdown-item a::before {
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
